.status-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 15px;
}

.status-bar__lock{
    margin-right: 3px;
}

.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 15px;
}

.profile-picture{
    display: flex;
    align-items: center;
}

.profile-picture__avatar{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-picture__avatar1{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 8px;
}

.header-bar-title{
    font-weight: 700;
    font-size: 30px;
}

.header-bar-icons{
    font-size: 25px;
}

.header-bar__camera, 
.header-bar__write{
    margin-right: 7px;
    background-color: #f1f1f1;
    padding: 5px 5px 10px 10px;
    border-radius: 50%;
}

.search-bar{
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 8px;
}

.search-bar__icon, 
.search-bar__text {
    opacity: 0.6;
}

.facebook-story{
    display: flex;
    margin: 25px 20px;
}

.facebook-story__thumbnail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.thumbnail-user{
    margin-bottom: 5px;
    font-size: 20px;
    background-color: #f1f1f1;
    padding: 16px 16px;
    border-radius: 50%;
}

.nav__badge{
    position: absolute;
    background-color: brown;
}

